/* new template */
.feed .feed_blank {
  text-align: center;  
  font-size: 18px;
  color: #777;
  background-color: #eee;
  padding: 50px 0px 50px 0px;
}

.feed .feed_blank:hover {
  cursor: pointer;
}
