/* new template */
.feed .feed_blank {
  text-align: center;  
  font-size: 18px;
  color: #D0D0D0;
  background-color: #eee;
  padding: 50px 0px 50px 0px;
  border-radius: 10px;
}

.feed .feed_blank:hover {
  cursor: pointer;
}
