.diary_image{
    margin:auto;
    display:inline block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;

}
#diary_box{
    max-width: 100%;
    max-height: 100%;
    background-color: #F47B0A;
    opacity: 50%;
    border-radius:15%;
    margin: auto;
    padding:20px
}